<footer>
    <div class="f-info">
        <div class="f-info-socials" >
            <a href="https://github.com/vishnu2005" style="color:black;"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/vishnu-priya-243418247" style="color:black;"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy; NomadCompass Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>